/* 
    Created on : 25 ���. 2020 �., 16:02:37
    Author     : StPalatinus
*/

@import "fonts/stylesheet.css";

html {
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #1B1C21;
    background: #F8F8F8;
}
ul {
    margin: 0;
    padding: 0;
}

.body {
/*    display: flex;*/
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 8px;
    overflow: hidden;
    font-family: "TT Lakes", sans-serif; 
    background: #F2F2F2;
    margin: 0;
    overflow-y: auto;
}

/* BRANDS */

.brands {
    box-sizing: border-box;
}

.brands__header {
}

.brands__container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    column-gap: 16px;
}

.brands__thumbnail {
    display: block;
    flex-basis: 240px;
    min-width: 240px;
    height: 72px;
    background-color: #FFFFFF;
    box-sizing: border-box;
/*    flex-grow: 1;*/
}

@media only screen and (min-width: 768px)  {
        
    /* BRANDS */
    
    .brands__container {
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 16px;
        column-gap: 32px;
/*        margin-bottom: 8px;*/
    }

    .brands__thumbnail {
        box-sizing: border-box;
        flex-basis: 224px;
        min-width: 224px;
        flex-basis: calc((100% / 3) - 96px);
        flex-shrink: 1;
        /*flex-grow: 1;*/
    }
}

@media only screen and (min-width: 1120px)  {
    
    /* BRANDS */

    .brands {
    }

    .brands__header {
    }
    
    .brands__container {
    }
    
    .brands__thumbnail {
        min-width: 240px;
        flex-basis: calc((100% / 4) - 96px);
        box-sizing: border-box;
    }
}

    /* GENERAL */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}