/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 ‡‚„. 2020 „., 16:02:37
    Author     : StPalatinus
*/

/*
@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('fonts/TTLakesCompressed-Regular.eot');
    src: local('fonts/TT Lakes Compressed Regular'), local('fonts/TTLakesCompressed-Regular'),
        url('fonts/TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakesCompressed-Regular.woff') format('woff'),
        url('fonts/TTLakesCompressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Italic.eot');
    src: local('fonts/TT Lakes Italic'), local('fonts/TTLakes-Italic'),
        url('fonts/TTLakes-Italic.eot?#iefix') format('fonts/embedded-opentype'),
        url('fonts/TTLakes-Italic.woff') format('woff'),
        url('fonts/TTLakes-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
*/

@import "fonts/stylesheet.css";

html {
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #1B1C21;
}
ul {
    margin: 0;
    padding: 0;
}

.body {
    padding-bottom: 8px;
    overflow: hidden;
}

/* HEADER */

.body {
    font-family: "TT Lakes", sans-serif; 
    background: #F8F8F8;
}

.header {
    width: 100%;
    height: 88px;
    background: #FFFFFF;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__left-section,
.header-nav__right-section{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header-nav__menu {
    position: relative;
    box-sizing: border-box;
}

.header-list {
    display: flex;
/*    margin: 0;
    padding: 0;*/
    align-items: center;
    list-style: none;
}

.header-list-item {
    position: relative;
    text-align: center;
/*    margin: 0;
    padding: 0;*/
}
    
.header__button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 24px 8px;
}

.nav-logo {
    box-sizing: border-box;
}

.logo__link {
    position: relative;
}

.nav-logo__pozicioner {
    box-sizing: border-box;
    margin: 19px 17px;
}

.header-list_generel {
    display: none;
}

.header-button__burger {
    display: block;
    background: url(pics/burger.png) no-repeat;
}

.header-button__burger--divider:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    top: 28px;
    right: -124px;
}

.header-button__call {
    background: url(pics/call.png) no-repeat;
}

.header-button__chat {
    background: url(pics/chat.png) no-repeat;
}

.header-button__profile {
    background: url(pics/profile.png) no-repeat;
}

.header-button__repair {
    background: url(pics/repair.png) no-repeat;
}

.header-button__repair--divider:before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    top: 28px;
    left: -10px;
    display: none;
}

.header-button__checkstatus {
    background: url(pics/checkstatus.png) no-repeat;
}

.main-header__statusbar {
    display: none;
}

/* MAIN */

.main {
    
}

.main-header {
    display: flex;
    justify-content: flex-start;
}

.services-and-services {
    display: flex;
}

.services-and-services__header {
    padding-left: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.services-and-services__header:before {
    display: block;
    position: absolute;
    left: 0;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
}

/* SLIDE */

.slide {
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    /*scroll-snap-type: y mandatory;*/
}

.slide::-webkit-scrollbar {
    width: 0px;  /* ¯ËËÌ‡ scrollbar'a */ 
    background: transparent;   /*ÓÔˆËÓÌ‡Î¸ÌÓ  */}


.slide-list {
    display: flex;
    justify-content:space-between;
/*    align-items:center;*/
    list-style: none;
/*    scroll-snap-align: start;*/
}

.slide-list__item {
    /*height: 40px;*/
    padding: 8px 22px;
    white-space: nowrap;
    text-align: center;
    border: 2px solid transparent;
}

.slide-list__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.slide-list__item:hover {
    border: 2px solid #B8FFEC;
}

.slide-list__item:active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    box-sizing: border-box;
    border-radius: 6px;
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

.slide-list__item--reapirable-brends {
    display: none;
}

    /* ABOUT-US */
    
.about-us {
    padding-top: 5px;
}    

.about-us__continue {
    background: url(pics/continue_read_icon.png) no-repeat;
    background-position-y: center;
    margin: 12px;
    margin-left: 20px;
/*    padding-left: 32px;*/
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.about-us__continue--link {
    display: inline-block;
    text-decoration: none;
    background: url(pics/continue_read_icon.png) no-repeat;
    background-position-y: center;
    padding-left: 32px;
}

.about-us-article {
    display: flex;
    flex-direction: column;
}

.about-us__text {
    margin-left: 16px
}

.about-us-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.about-us-image-container {
    
}

/*@media only screen and (min-width: 575px) {
     ABOUT-US 
    .about-us-article {
        flex-direction: row;
    }
}*/


@media only screen and (min-width: 768px)  {
    
    .body {
        padding: 24px 24px 11px;
    }
    
    /* HEADER */
    
    .header-nav__divider1 {
        display: block;
    }
    
    .header-list_generel {
        margin-right: 20px;
        display: flex;
    }
    
    .nav-logo__pozicioner {
        margin: 19px 25px;
    }
    
    .logo__link:before {
        display: block;
    }
    
    .logo__link:after {
        display: none;
    }
    
    .header-button__burger--divider:after {
        right: -10px;
        display: block;
    }
    
    .header-button__repair--divider:before {
        display: block;
    }
    
    /* MAIN */
    
    /* SLIDE */
    
    /* ABOUT-US */
    .about-us-article {
        flex-direction: row;
    }
    
    .about-us__text {
        padding-right: 48px;
        margin-left: 24px
    }
    
    .about-us__continue {
    }
    
    .about-us-image {
/*        width: 100%;*/
        min-width: 360px;
/*        height: auto;
        margin: 0 auto;*/
    }
}

@media only screen and (min-width: 1120px)  {
    
      .body {
        padding: 42px 32px 14px;
    }
    
    /* HEADER */
    
    .header {
        display: none;
    }
    
    /* MAIN */
    
    .main-header {
        display: flex;
        justify-content:space-between;
    }
    
    .main-header-statusbar {
        display: block;
    }
    
    .main-header-button__label {
        cursor: pointer;
    }

    .main-header__statusbar,
    .main-header__checkstatus {
        /*—“»À»«Œ¬¿“‹ Œ”“¿…Õ ≈—À» œŒÀ”◊»“—ﬂ*/
    }
    
    .main-header-buttons-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    .main-header__item {
        display: flex;
        align-items: center;
    }

    .main-header-buttons-list {
        display: flex;
    }
    
    /* SLIDE */
    
    .slide-list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
     .slide-list-item__reapirable-brends {
    display: block;
    }
    
    /* ABOUT-US */
    .about-us-article {
        flex-direction: row;
    }
    
    .about-us__text {
        padding-right: 36px;
        margin-left: 34px
    }
    
    .about-us-image {
        /*width: 100%;*/
        min-width: 532px;
/*        height: auto;
        margin: 0 auto;*/
/*        height: auto;
        margin-right: 36px;*/
    }
}

    /* GENERAL */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*
@media (min-width: 1120px) {
    
}
*/