/* 
    Created on : 25 авг. 2020 г., 16:02:37
    Author     : StPalatinus
*/

@import "fonts/stylesheet.css";

html {
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: 0.2px;
    color: #1B1C21;
    background: #FFF;
}
ul {
    margin: 0;
    padding: 0;
}

.body {
    padding-bottom: 8px;
    overflow: hidden;
}

/* HEADER */

.body {
    font-family: "TT Lakes", sans-serif; 
    background: #F2F2F2;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    background: #FFFFFF;
}

.header__logo-section,
.header__buttons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header__menu {
    position: relative;
    box-sizing: border-box;
}

.header-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-list-item {
    position: relative;
    text-align: center;
}
    
.header__button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 24px 8px;
}

.logo {
    box-sizing: border-box;
}

.logo__link {
    position: relative;
}

.header__logo {
    box-sizing: border-box;
    margin: 19px 17px;
}

.header-list_generel {
    display: none;
}

.header-button__burger {
    display: block;
    background: url(pics/burger.png) no-repeat;
}

.header-button__burger--divider:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    top: 28px;
    right: -124px;
}

.header-button__call {
    background: url(pics/call.png) no-repeat;
}

.header-button__chat {
    background: url(pics/chat.png) no-repeat;
}

.header-button__profile {
    background: url(pics/profile.png) no-repeat;
}

.header-button__repair {
    background: url(pics/repair.png) no-repeat;
}

.header-button__repair--divider:before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    border-radius: 1px;
    top: 28px;
    left: -10px;
    display: none;
}

.header-button__checkstatus {
    background: url(pics/checkstatus.png) no-repeat;
}

.main-header__statusbar {
    display: none;
}

/* MAIN */

.main {
    
}

.main__header {
    display: flex;
    justify-content: flex-start;
}

/*.services-and-services {
    display: flex;
}*/

.title {
    padding-left: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.title:before {
    display: block;
    position: absolute;
    left: 0;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
}

/* SLIDE */

.nav {
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.nav::-webkit-scrollbar {
    width: 0px;  /* ширина scrollbar'a */ 
    background: transparent;   /*опционально  */}


.main__nav {
    display: flex;
    justify-content:space-between;
    list-style: none;
}

.nav__item {
    box-sizing: content-box;
    white-space: nowrap;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.nav__link {
    display: block;
    padding: 8px 22px;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    outline-color: #B8FFEC;
    border: 2px solid transparent;
    border-radius: 6px;
    outline: none;
}

.nav__link:hover,
.nav__link:focus, 
.nav__link:active {
    border: 2px solid #B8FFEC;
    background: #FFFFFF;
}

.nav__item--reapirable-brends {
    display: none;
}

    /* ABOUT-US */
    
.about-us__text-container,
.about-us__image-container {
    width: 100%;
}

.about-us__text-container {
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
}

.about-us__text-block {
    overflow: hidden;
    height: 97px;
    box-sizing: border-box;
}

.about-us__continue {
    order: 2;
}

.about-us__continue:active + .about-us__text-block {
    height: 100%;
}

.about-us__continue:active  {
    display: none;
    /*visibility: hidden;*/
}

.about-us__text {
    display: inline-block;
    padding-right: 16px;
    margin-bottom: 15px;
    user-select: none;
}

.about-us {
    padding-top: 5px;
}    

.about-us__continue {
    font-family: "TT Lakes", sans-serif;
    overflow: hidden;
}

.about-us__continue--button {
    background: url(pics/continue_read_icon.png) no-repeat;
    background-position-y: center;
    padding-left: 32px;
    margin: 12px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    border: none;
}

.about-us-article {
    display: flex;
    flex-direction: column;
}

.about-us__text {
    margin-left: 16px;
}

.about-us-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.about-us-image-container {
    
}


@media only screen and (min-width: 768px)  {
    
    .body {
        
    }
    
    /* HEADER */
    
    .header__divider1 {
        display: block;
    }
    
    .header-list_generel {
        margin-right: 20px;
        display: flex;
    }
    
    .header__logo {
        margin: 19px 25px;
    }
    
    .logo__link:before {
        display: block;
    }
    
    .logo__link:after {
        display: none;
    }
    
    .header-button__burger--divider:after {
        right: -10px;
        display: block;
    }
    
    .header-button__repair--divider:before {
        display: block;
    }
    
    /* MAIN */
    
    /* SLIDE */
    
    /* ABOUT-US */
    
    .about-us__text-container,
    .about-us__image-container {
        width: 50%;
    }
    
    .about-us-article {
        flex-direction: row;
    }
    
    .about-us__text-container {
        padding-right: 48px;
    }
    
    .about-us__text-block {
        max-height: 159px;
    }
    
    .about-us__text {
        margin-left: 24px;
    }
    
    .about-us__continue {
    }
    
    .about-us-image {
        min-width: 360px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1120px)  {
    
      .body {
        padding: 42px 32px 14px;
        /*max-width: 1120px;*/
        margin: 0 auto;
    }
    
    /* HEADER */
    
    .header {
        display: none;
    }
    
    .main-header__statusbar {
    display: block;
}
    
    /* MAIN */
    
    .main__header {
        display: flex;
        justify-content:space-between;
    }
    
/*    .main-header-statusbar {
        display: block;
    }*/

    .header-button__repair--contain-text,
    .header-button__checkstatus--contain-text {
        width: auto;
        padding-right: 48px;
        background-position-x: right;
        white-space: nowrap;
    }
    
    .main__header--buttons-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    
    .header-list-item {
        width: auto;
    }

    .main__header--buttons-list {
        display: flex;
    }
    
    /* SLIDE */
    
    .slide-list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
     .slide-list-item__reapirable-brends {
    display: block;
    }
    
    .nav__item--reapairable-brends {
        display: block;
    }
    
    /* ABOUT-US */
    .about-us-article {
        flex-direction: row;
    }
    
    .about-us__text-container {
        padding-right: 36px;    
    }
    
    .about-us__text-block {
        max-height: 160px;
    }
    
    .about-us__text {
        margin-left: 34px;
    }
    
    .about-us-image {
        min-width: 532px;
    }
}

    /* GENERAL */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
