body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: rgb(245, 244, 245);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "montserrat";
    src: url('../fonts/montserrat-webfont.woff');
}

@font-face {
    font-family: "open-sans";
    src: url('../fonts/opens-sans-webfont.woff');
}

.shadow {
    text-shadow: 0 0 5px #444;
}

.text-shadow {
    text-shadow: 0 0 2px 1px #444;
}

.container {
    position: relative;
    padding-top: 10px;
    height: 100%;
}

.graph-container {
    position: relative;
    width: 100%;
    height: 55%;
    left: 50%;
    margin-left: -169px;
}

.text-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.graph-container__leftbox {
    position: absolute;
    border-radius: 67px;
    background-color: rgb(49, 208, 118);
    width: 201px;
    height: 201px;
    }

.graph-container__rightbox {
    position: absolute;
    left: 138px;
    border-radius: 67px;
    background-color:  rgba(230, 231, 231, 0.5);
    width: 201px;
    height: 201px;
}

.graph-container__innertext_left {
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 41.91px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    padding-left: 81px;
    padding-top: 45px;
    transform: scaleY(1.002);
}

.graph-container__innertext_right {
    font-family: Montserrat;
    color:  #ff605f;
    font-size: 41.91px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    padding-left: 81px;
    padding-top: 45px;
    transform: scaleY(1.002);
}

.text-container__bigtext {
    font-family: Montserrat;
    color:  #333333;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}

text-container__smalltext {
    font-family: OpenSans;
    color:  #666666;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

.citations-page_main-block {
    width: 100%;
    height: 100%;
    background: rgb(255, 96, 95);
}

.citations-page_cite {
    padding-top: 5px;
    font-family: OpenSans;
    color:  #ffffff;
    font-size: 28px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
}

.citations-page_author {
    font-family: OpenSans;
    color:  #cccccc;
    font-size: 20px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
.container {
    position: relative;
    padding-top: 98px;
    height: 100%;
}
.graph-container {
    position: absolute;
    right: 50%;
    margin-left: -380px; /* не ругайтесь на размер, он только для больших мониторов */
    width: 50%;
}

.text-container {
    text-align: left;
    padding-left: 45px;
    position: relative;
    left: 50%;
    width: 35%;
    max-width: 450px;
}

.citations-page_cite {
    padding-top: 50px;    
}
}

@media only screen and (min-width: 1050px) {
    .citations-page_cite {
    padding-top: 80px;
    }
}