@import '/thumbnail/thumbnail.scss';
@import '/../variables_and_defaults/main_content_headers_style.scss';
@import '../variables_and_defaults/button_wipe_deafult_stiles.scss';

$brands__brands-background-color: #FFFFFF;
$brands__brands-border-color: #EAEAEA;
$brands-block-background-color: #F2F2F2;
$brands__header-background-image-gradient-star-tcolor: #FFFFFF;
$brands__header-background-image-gradient-end-tcolor:  #F8F8F8;
$brands__header-text-color: #7E7E82;
$wiper-pagination-bullets-default-text-color: #000;
$wiper-pagination-bullets-default-background-color: #DDDDDD;
$swiper-pagination-bullet-active-text-color: #fff;
$swiper-pagination-bullet-active-background-color: #B5B6BC;
//$brands__thumbnail-background-color: #FFFFFF;
//$brands__thumbnail-border-color: #EAEAEA;
$brands__link-after-circle-element-border: #FF3E79;
$brands__link-before-arrow-element-border: #FF3E79;
$brands__link-after-circle-element-default-background-color: aqua;
$brands__link-after-circle-element-focused-background-color: aqua;
$brands__link-after-circle-element-active-background-color: aqua;
$brands--button-hovered-background-color: aqua;
$swiper-slide-active-brands__link-background-color:aqua;
$button__showhide-hovered-and-active-box-shadow-filter-color:  #EAEAEA;
//$button-color: #1B1C21;

.brands {
    position: relative;
    box-sizing: border-box;
    background-color: $brands-block-background-color;
}

.brands__header {
    @include main_content_header_styles;
}

.brands__swiper-container {
    //position: relative;
    box-sizing: border-box;
}

.brands__container {
    box-sizing: border-box;
    height: 116px;
}

.brands__thumbnail {
    box-sizing: border-box;
    //width: 240px;
}

.brands__pagination {
    position: relative;
	transform: translate3d(0, 0, 0);
	letter-spacing: 10px;
	z-index: 10;
	outline: none;
}

.swiper-pagination-bullet {
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	line-height: 18px;
	font-size: 12px;
	color: $wiper-pagination-bullets-default-text-color;
	opacity: 1;
	background: $wiper-pagination-bullets-default-background-color;
	outline: none;
	text-align: center;
}

.swiper-pagination-bullet-active {
	color: $swiper-pagination-bullet-active-text-color;
	background:$swiper-pagination-bullet-active-background-color;
	outline: none;
}

.thumbnail__link {
	display: block;
	//width: 100%;
	//height: 100%;
	&:after {
		position: absolute;
		content: "";
		width: 400px;
		height: 400px;
		border-radius: 50%;
		right: 14px;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid $thumbnail__link-after-circle-element-border;
	}
	&:before {
		position: absolute;
		content: "";
		width: 8px;
		height: 8px;
		border: 1px solid $thumbnail__link-before-arrow-element-border;
		border-left: none;
		border-top: none;
		transform-origin: center;
		right: 32px;
		top: 50%;
		transform: translate(-1px, -4px) rotate(-45deg);
		outline: none;
	}
	&:hover {
		outline: none;
		&:after {
			background-color: $thumbnail__link-after-circle-element-default-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
	&:focus {
		outline: none;
		&:after {
			background-color: $thumbnail__link-after-circle-element-focused-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
	&:active {
        outline: none;
		&:after {
			background-color: $thumbnail__link-after-circle-element-active-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
}

.brands__link {
	display: block;
	//width: 100%;
	//height: 100%;
	&:after {
		position: absolute;
		content: "";
		width: 40px;
		height: 40px;
		border-radius: 50%;
		right: 14px;
		top: 50%;
		transform: translateY(-50%);
		border: 1px solid $brands__link-after-circle-element-border;
	}
	&:before {
		position: absolute;
		content: "";
		width: 8px;
		height: 8px;
		border: 1px solid $brands__link-before-arrow-element-border;
		border-left: none;
		border-top: none;
		transform-origin: center;
		right: 32px;
		top: 50%;
		transform: translate(-1px, -4px) rotate(-45deg);
		outline: none;
	}
	&:hover {
		outline: none;
		&:after {
			background-color: $brands__link-after-circle-element-default-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
	&:focus {
		outline: none;
		&:after {
			background-color: $brands__link-after-circle-element-focused-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
	&:active {
        outline: none;
		&:after {
			background-color: $brands__link-after-circle-element-active-background-color;
			opacity: 0.5;
			outline: none;
		}
	}
}

.brands__link--image {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.brands--button {
	&:hover {
		background-color: $brands--button-hovered-background-color;
		opacity: 0.5;
		outline: none;
	}
}

.swiper-slide-active {
    &:after {
        background-color: $brands__link-after-circle-element-default-background-color;
			opacity: 0.5;
			outline: none;
    }
}

.wiper-slide-active {
    
}

.button__showhide {
	display: none;
}

@media only screen and (min-width: 768px)  {
     /* BRANDS */
    
    .brands {
        box-sizing: border-box;
    }
    
    .brands__header {
        height: 64px;
        padding-left: calc(100% / 2 - 384px);
        padding-right: calc(100% / 2 - 384px);
        white-space: pre-line;
    }
    
    .force__linebreak {
        display: none;
    }
    
    .brands__swiper-container {
        box-sizing: border-box;
    }

    .brands__container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        height: 156px;
        column-gap: 24px;
        row-gap: 16px;
        overflow: hidden;
    }
    
    .brands__container--maximized {
        height: auto;
    }

    .brands__thumbnail {
        box-sizing: border-box;
        width: 224px;
    }
    


    .button__showhide {
        position: relative;
        display: block;
        margin-left: calc(100% / 2 - 384px);
        margin-right: calc(100% / 2 - 384px);
        margin-top: 26px;
        left: 30px;
        border-radius: 0;
        padding-left: 26px;
        width: fit-content;
    }
    
    .button__showhide:hover,
    .button__showhide:active {
        outline: none;
        filter: box-shadow(3px 3px 3px 3px $button__showhide-hovered-and-active-box-shadow-filter-color);
    }

    .button__showhide:focus {
        outline: none;
    }
    
    .button__showhide:before {
        position: absolute;
        display: block;
        content: url('./../img/icons/continue-read-icon.png');
        //content: url('/../../img/icons/continue-read-icon.png');
        left: 0;
    }
    
    .showhide__opened:before {
        position: absolute;
        display: block;
        content: url('./../img/icons/continue-read-icon.png');
        left: 0;
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: 1120px)  {
    /* BRANDS */
    .brands {
        box-sizing: border-box;
    }

    .brands__header {
        padding-left: calc(100% / 2 - 560px);
        padding-right: calc(100% / 2 - 560px);
    }

    .brands__swiper-container {
        //margin: 0 auto;
        //width: 1120px;
    }

    .brands__container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
        height: 168px;
        //width: auto;
        //box-sizing: border-box;
        column-gap: 30px;
        overflow: hidden;
    }

    .brands__container--maximized {
        height: 100%;
    }

    .brands__thumbnail {
        box-sizing: border-box;
        width: 240px;
    }

    .button__showhide {
        margin-left: calc(100% / 2 - 552px);
        padding-left: 26px;
    }

}

@media only screen and (min-width: 1440px)  {
	.brands {
        box-sizing: border-box;
        //width: 1080;
    }

    .brands__container {
        //margin-left: auto;
        //margin-right: auto;
        //padding-left: 14px;
    }

    .brands__container {
        //column-gap: 30px;
    /*        margin-bottom: 8px;*/
    }

    .brands__header {
        padding-left: calc(100% / 2 - 560px);
        padding-right: calc(100% / 2 - 560px);
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .brands__swiper-container {
        //margin: 0 auto;
        //width: 1120px;
        //width: 100%;
    }

    .brands__thumbnail {
       //min-width: 240px;
        //flex-basis: calc((100% / 4) - 96px);
        box-sizing: border-box;
        width: 240px;
    }

    .brands__container {
        height: 168px;
        column-gap: 32px;
        box-sizing: border-box;
    }

    .brands__container--maximized {
        height: 100%;
    }

    .button__showhide {
        position: realtive;
        margin-left: calc(100% / 2 - 560px);
        padding-left: 24px;
    }
}