@import '../variables_and_defaults/button__with_arrow.scss';

$modal-bg-color-for-mobiles-and-planshets: rgba(255, 255, 255, 0.9);
$modal-default-text-color: #7E7E82;
$modal-alert-text-color: #FF3E79;
$modal-backbround-color: #FFF;
$form-heder-color: #1B1C21;
$modal__feedback--side-block-background-color: #FFFFFF;
$modal__feedback--side-block-border-color: #D9FFF5;
$modal__feedback--side-block-shadow1: rgba(69, 79, 126, 0.02);
$modal__feedback--side-block-shadow2:  rgba(14, 24, 80, 0.2);
$button__with_arrow-text-color: #FFFFFF;
$modal__input-fields-default-border-color: #EAEAEA;
$modal__input-fields-default-border-outline-color: #D9E6E9;


@mixin modal-default-style {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: $modal-default-text-color;
    background-color: $modal-bg-color-for-mobiles-and-planshets;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 16px;
    z-index: 100;
    display: none;
}

.modal__feedback--side-block {
    position: fixed;
    box-sizing: border-box;
    right: 0;
    height: 100%;
    //transform: translate(350px);
    padding-top: 48px;
    background: $modal__feedback--side-block-background-color;
    border-left: 1px solid $modal__feedback--side-block-border-color;
    border-radius: 1px;
    box-shadow: -2px 0px 4px $modal__feedback--side-block-shadow1, 16px 0px 52px $modal__feedback--side-block-shadow2;
    padding-left: 0;
    padding-top: 105px;
}

.modal_content-group {
    position: relative;
    border: 0 none;
    //margin-top: 60px;
    padding-bottom: 80px;
    max-width: 440px;
}


.button__with_arrow {
    @include button__with_arrow;
    color: $button__with_arrow-text-color;
}

.modal {
    @include modal-default-style; 
}

.modal__form-header--notch {
    border: 0 none;
    &::before {
        top: -5px;
    }
}

.modal__feedback--close-button,
.modal__call--close-button {
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    top: 40px;
    left: 16px;
    top: 22px;
}

.modal__call-form,
.modal__feedback-form {
    position: relative;
    //margin-top: 20px;
}

.modal--alert-text {
    color: $modal-alert-text-color;
}

.modal__form-header {
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $form-heder-color;
    font-weight: 600;
    border: none;
    //text-transform: capitalize;
}

%modal__input-fields-default-settinds {
    box-sizing:  border-box;
    border: 1px solid $modal__input-fields-default-border-color;
    border-radius: 8px;
    outline-color: $modal__input-fields-default-border-outline-color;
    padding: 2px 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.modal__input-filed,
.modal__filedset {
    @extend %modal__input-fields-default-settinds;
    height: 110px;
}

.modal__filedset {
    @extend %modal__input-fields-default-settinds;
    padding: 12px 16px;
    resize: none;
}

.modal__input-filed {
    height: 48px;
}

.modal__input-filed,
.modal__feedback__information {

}

.modal__button {
    position: absolute;
    width: 136px;
    height: 32px;
    right: 0;
    margin-top: 34px;
    background-image: url('./../img/icons/arrow.svg');
    background-position: 98% 50%;
    background-size: 30% 30%;
    background-repeat: no-repeat;
    font-family: TT Lakes;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    letter-spacing: -0.15px;
}

.modal__button[value] {
    padding-left: 18px;
}

.modal__feedback--visible,
.modal__call--visible {
        z-index: 25;
        display: block;
    }

.modal__content-group {
    padding-top: 22px;
    border:0 none;
}

@media only screen and (min-width: 530px)  {
	.body {
		overflow: hidden;
	}
	
    .mobile-menu {
        width: 320px;
    }


    @keyframes modals-menuslide {
        0% {transform: translateX(0px);}
        100% {transform: translateX(-526px)}
    }

    .modal__feedback--side-block {
        position: fixed;
        right: -526px;
        max-width: 440px;
        //transform: translateX(-526px);
        animation-name: modals-menuslide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        padding-left: 0;
        padding-right: 0;
        padding-top: 105px;
    }

/*
    .modal__feedback--visible {
        > .modal__feedback--side-block {
            animation-name: menuslide-menuslide;
            animation-duration: 1s;
            //transform: translateX(-526px);
            //animation-fill-mode: forwards;
        }
    }
*/
    .modal__input-filed,
    .modal__filedset {
        //width: 360px;
    }

    .modal__feedback--close-button,
    .modal__call--close-button {
        //position: relative;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        left: -72px;
    }

}

@media only screen and (min-width: 1120px)  {

}

@media only screen and (min-width: 1440px)  {
    .modal__feedback--close-button,
    .modal__call--close-button {
        position: absolute;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        left: -72px;
    }
}